#include "resource.h"
#include "afxres.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
#pragma code_page(1252)

IDD_MAIN DIALOGEX 0, 0, 316, 173
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Teatime"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "...",IDC_FILE,15,25,13,14
    PUSHBUTTON      "Save",IDC_SAVE,282,89,27,14
    PUSHBUTTON      "Reload",IDC_RELOAD,282,119,27,14
    GROUPBOX        "Select File",IDC_STATIC1,7,7,302,46
    GROUPBOX        "Old Fileinfo",IDC_STATIC2,77,57,92,101
    GROUPBOX        "New Fileinfo",IDC_STATIC3,179,57,92,101
    EDITTEXT        IDC_EDIT1,34,27,267,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT2,82,74,79,15,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT3,82,104,79,15,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT4,82,134,79,15,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_EDIT5,184,74,79,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT6,184,104,79,15,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT7,184,133,79,15,ES_AUTOHSCROLL
    LTEXT           "Creation time",IDC_STATIC4,28,76,44,8
    LTEXT           "Last access time",IDC_STATIC5,19,106,53,8
    LTEXT           "Last write time",IDC_STATIC6,24,138,48,8
END
#endif
